# Dependencies
backend/node_modules/
node_modules/
package-lock.json

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-workspace

# Logs
npm-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
tmp/
out-tsc/

# Angular
.angular/
.sass-cache/

# Netlify
.netlify/
